{
  "openapi": "3.0.0",
  "info": {
    "title": "Suger API",
    "description": "CRUD operations on a set of resources, including organizations, products, offers, entitlements, usage record groups for meterting, etc.",
    "version": "1.0",
    "contact": {
      "name": "Suger Support",
      "url": "https://www.suger.io/support",
      "email": "support@suger.io"
    }
  },
  "servers": [
    {
      "url": "https://api.suger.cloud"
    }
  ],
  "tags": [
    {
      "name": "Offer"
    },
    {
      "name": "Entitlement"
    },
    {
      "name": "Metering"
    },
    {
      "name": "Integration"
    },
    {
      "name": "Product"
    },
    {
      "name": "Report"
    },
    {
      "name": "API"
    },
    {
      "name": "Buyer"
    },
    {
      "name": "Entitlement Term"
    },
    {
      "name": "Operation"
    }
  ],
  "paths": {
    "/org/{orgId}/apiClient": {
      "get": {
        "tags": [
          "API"
        ],
        "summary": "list api clients",
        "operationId": "Api_list",
        "security": [
          {
            "BearerTokenAuth": [
            ]
          }
        ],
        "description": "List all API clients in the given organization.",
        "parameters": [
          {
            "description": "Organization ID",
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiList400Response"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiList500Response"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "API"
        ],
        "summary": "create api client",
        "operationId": "Api_create",
        "security": [
          {
            "BearerTokenAuth": [
            ]
          }
        ],
        "description": "Create an API client to access Suger API. Please note that only one API client is permitted per organization at this moment.",
        "parameters": [
          {
            "description": "Organization ID",
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "API client type, the default is BEARER_TOKEN if not provided",
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "BEARER_TOKEN",
                "API_KEY"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/github_com_sugerio_marketplace-service_rds-db_lib.IdentityApiClient"
                }
              }
            }
          },
          "400": {
            "description": "Bad request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiCreateResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiCreate500Response"
                }
              }
            }
          }
        }
      }
    },
    "/org/{orgId}/apiClient/{apiClientId}": {
      "get": {
        "tags": [
          "API"
        ],
        "summary": "get api client",
        "operationId": "Api_get",
        "security": [
          {
            "BearerTokenAuth": [
            ]
          }
        ],
        "description": "Get the API client by ID.",
        "parameters": [
          {
            "description": "Organization ID",
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "API client ID",
            "name": "apiClientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/github_com_sugerio_marketplace-service_rds-db_lib.IdentityApiClient"
                }
              }
            }
          },
          "400": {
            "description": "Bad request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGetResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGet500Response"
                }
              }
            }
          }
        }
      }
    },
    "/org/{orgId}/buyer": {
      "get": {
        "tags": [
          "Buyer"
        ],
        "summary": "list buyers by organization",
        "operationId": "Buyer_listByOrganization",
        "security": [
          {
            "BearerTokenAuth": [
            ]
          }
        ],
        "description": "list all buyers by the given organization",
        "parameters": [
          {
            "description": "Organization ID",
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BuyerListByOrganizationResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/org/{orgId}/buyer/{buyerId}": {
      "get": {
        "tags": [
          "Buyer"
        ],
        "summary": "get buyer",
        "operationId": "Buyer_get",
        "security": [
          {
            "BearerTokenAuth": [
            ]
          }
        ],
        "description": "get buyer by the given organization and buyer id",
        "parameters": [
          {
            "description": "Organization ID",
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Buyer ID",
            "name": "buyerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdentityBuyer"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "patch": {
        "tags": [
          "Buyer"
        ],
        "summary": "update buyer name and description",
        "operationId": "Buyer_update",
        "security": [
          {
            "BearerTokenAuth": [
            ]
          }
        ],
        "description": "update buyer name and description by the given organization and buyer id",
        "parameters": [
          {
            "description": "Organization ID",
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Buyer ID",
            "name": "buyerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "UpdateBuyerNameDescriptionParams",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/github_com_sugerio_marketplace-service_rds-db_lib.UpdateBuyerNameDescriptionParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdentityBuyer"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/org/{orgId}/buyer/{buyerId}/entitlement": {
      "get": {
        "tags": [
          "Entitlement"
        ],
        "summary": "list entitlements by buyer",
        "operationId": "Entitlement_listByBuyer",
        "security": [
          {
            "BearerTokenAuth": [
            ]
          }
        ],
        "description": "List all entitlements of the given buyer",
        "parameters": [
          {
            "description": "Organization ID",
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Buyer ID",
            "name": "buyerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntitlementListByBuyerResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntitlementListByBuyer400Response"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntitlementListByBuyer500Response"
                }
              }
            }
          }
        }
      }
    },
    "/org/{orgId}/draftOffer": {
      "post": {
        "tags": [
          "Offer"
        ],
        "summary": "create or update draft offer",
        "operationId": "Offer_draft",
        "security": [
          {
            "BearerTokenAuth": [
            ]
          }
        ],
        "description": "Create a new draft offer or update the existing draft offer. When updating draft offer, the offer.ID is required.",
        "parameters": [
          {
            "description": "Organization ID",
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "the draft offer to create",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkloadOffer"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkloadOffer"
                }
              }
            }
          },
          "400": {
            "description": "Bad request error description",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OfferDraftResponse"
                }
              }
            }
          },
          "500": {
            "description": "internal error description",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OfferDraft500Response"
                }
              }
            }
          }
        }
      }
    },
    "/org/{orgId}/entitlement": {
      "get": {
        "tags": [
          "Entitlement"
        ],
        "summary": "list entitlements",
        "operationId": "Entitlement_list",
        "security": [
          {
            "BearerTokenAuth": [
            ]
          }
        ],
        "description": "List all entitlements under the organization",
        "parameters": [
          {
            "description": "Organization ID",
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntitlementListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntitlementList400Response"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntitlementList500Response"
                }
              }
            }
          }
        }
      }
    },
    "/org/{orgId}/entitlement/{entitlementId}": {
      "get": {
        "tags": [
          "Entitlement"
        ],
        "summary": "get entitlement",
        "operationId": "Entitlement_get",
        "security": [
          {
            "BearerTokenAuth": [
            ]
          }
        ],
        "description": "Get the entitlement by ID",
        "parameters": [
          {
            "description": "Organization ID",
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Entitlement ID",
            "name": "entitlementId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkloadEntitlement"
                }
              }
            }
          },
          "400": {
            "description": "Bad request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntitlementGetResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntitlementGet500Response"
                }
              }
            }
          }
        }
      }
    },
    "/org/{orgId}/entitlement/{entitlementId}/addCredit": {
      "post": {
        "tags": [
          "Entitlement"
        ],
        "summary": "add entitlement credit",
        "operationId": "Entitlement_addCredit",
        "security": [
          {
            "BearerTokenAuth": [
            ]
          }
        ],
        "description": "Add the credit amount to the given Entitlement. The credit amount is accumulated & saved in the current Entitlement Term of the gvien Entitlement.",
        "parameters": [
          {
            "description": "Organization ID",
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Entitlement ID",
            "name": "entitlementId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "RequestBody",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddEntitlementCreditParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddEntitlementCreditResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntitlementAddCreditResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntitlementAddCredit500Response"
                }
              }
            }
          }
        }
      }
    },
    "/org/{orgId}/entitlement/{entitlementId}/entitlementName": {
      "patch": {
        "tags": [
          "Entitlement"
        ],
        "summary": "update entitlement name",
        "operationId": "Entitlement_updateName",
        "security": [
          {
            "BearerTokenAuth": [
            ]
          }
        ],
        "description": "Update the name of the given Entitlement",
        "parameters": [
          {
            "description": "Organization ID",
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Entitlement ID",
            "name": "entitlementId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "UpdateEntitlementNameParams",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/github_com_sugerio_marketplace-service_rds-db_lib.UpdateEntitlementNameParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkloadEntitlement"
                }
              }
            }
          },
          "400": {
            "description": "Bad request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntitlementUpdateNameResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntitlementUpdateName500Response"
                }
              }
            }
          }
        }
      }
    },
    "/org/{orgId}/entitlement/{entitlementId}/entitlementTerm": {
      "get": {
        "tags": [
          "Entitlement Term"
        ],
        "summary": "list entitlement terms",
        "operationId": "EntitlementTerm_list",
        "security": [
          {
            "BearerTokenAuth": [
            ]
          }
        ],
        "description": "List all Entitlement Terms of the given Entitlement",
        "parameters": [
          {
            "description": "Organization ID",
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Entitlement ID",
            "name": "entitlementId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntitlementTermListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntitlementTermList400Response"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntitlementTermList500Response"
                }
              }
            }
          }
        }
      }
    },
    "/org/{orgId}/entitlement/{entitlementId}/entitlementTerm/{entitlementTermId}": {
      "get": {
        "tags": [
          "Entitlement Term"
        ],
        "summary": "get entitlement term",
        "operationId": "EntitlementTerm_get",
        "security": [
          {
            "BearerTokenAuth": [
            ]
          }
        ],
        "description": "Get the entitlement term by ID",
        "parameters": [
          {
            "description": "Organization ID",
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Entitlement ID",
            "name": "entitlementId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Entitlement Term ID",
            "name": "entitlementTermId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkloadEntitlementTerm"
                }
              }
            }
          },
          "400": {
            "description": "Bad request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntitlementTermGetResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntitlementTermGet500Response"
                }
              }
            }
          }
        }
      }
    },
    "/org/{orgId}/entitlement/{entitlementId}/metaInfo": {
      "patch": {
        "tags": [
          "Entitlement"
        ],
        "summary": "update entitlement meta info",
        "operationId": "Entitlement_updateMetaInfo",
        "security": [
          {
            "BearerTokenAuth": [
            ]
          }
        ],
        "description": "Update the meta info of the given entitlement.",
        "parameters": [
          {
            "description": "Organization ID",
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Entitlement ID",
            "name": "entitlementId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Entitlement meta info to update",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkloadMetaInfo"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkloadMetaInfo"
                }
              }
            }
          },
          "400": {
            "description": "Bad request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntitlementUpdateMetaInfoResponse"
                }
              }
            }
          },
          "500": {
            "description": "internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntitlementUpdateMetaInfo500Response"
                }
              }
            }
          }
        }
      }
    },
    "/org/{orgId}/entitlement/{entitlementId}/usageRecordGroup": {
      "post": {
        "tags": [
          "Metering"
        ],
        "summary": "report usageRecordGroup",
        "operationId": "Metering_reportUsageRecordGroup",
        "security": [
          {
            "BearerTokenAuth": [
            ]
          }
        ],
        "description": "It is recommended to provide the ID in the request body CreateUsageRecordGroupParams, so the report can be deduplicated. All duplicate report will return error code 409.",
        "parameters": [
          {
            "description": "Organization ID",
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Entitlement ID",
            "name": "entitlementId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "RequestBody",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateUsageRecordGroupParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MeteringUsageRecordGroup"
                }
              }
            }
          },
          "400": {
            "description": "all the quantity of usage records are zero",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MeteringReportUsageRecordGroupResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MeteringReportUsageRecordGroup409Response"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MeteringReportUsageRecordGroup500Response"
                }
              }
            }
          }
        }
      }
    },
    "/org/{orgId}/integration": {
      "get": {
        "tags": [
          "Integration"
        ],
        "summary": "list integrations by organization",
        "operationId": "Integration_listByOrganization",
        "security": [
          {
            "BearerTokenAuth": [
            ]
          }
        ],
        "description": "List all integrations for the given organization.",
        "parameters": [
          {
            "description": "Organization ID",
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationListByOrganizationResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "post": {
        "tags": [
          "Integration"
        ],
        "summary": "create integration",
        "operationId": "Integration_create",
        "security": [
          {
            "BearerTokenAuth": [
            ]
          }
        ],
        "description": "For each organization, partner & service, there should be at most one integration.",
        "parameters": [
          {
            "description": "Organization ID",
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Create Integration Params",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateIntegrationParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdentityIntegration"
                }
              }
            }
          },
          "400": {
            "description": "Bad request error description",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationCreateResponse"
                }
              }
            }
          },
          "500": {
            "description": "internal error description",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationCreate500Response"
                }
              }
            }
          }
        }
      }
    },
    "/org/{orgId}/integration/{partner}/{service}": {
      "get": {
        "tags": [
          "Integration"
        ],
        "summary": "get integration",
        "operationId": "Integration_get",
        "security": [
          {
            "BearerTokenAuth": [
            ]
          }
        ],
        "description": "Get the integration for the given organization, partner & service.",
        "parameters": [
          {
            "description": "Organization ID",
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Cloud Partner",
            "name": "partner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "AWS",
                "AZURE",
                "GCP"
              ]
            }
          },
          {
            "description": "Partner Service",
            "name": "service",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "MARKETPLACE",
                "CRM"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdentityIntegration"
                }
              }
            }
          },
          "404": {
            "description": "Integration not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationGetResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "delete": {
        "tags": [
          "Integration"
        ],
        "summary": "delete integration",
        "operationId": "Integration_delete",
        "security": [
          {
            "BearerTokenAuth": [
            ]
          }
        ],
        "description": "delete the integration for the given orgId, partner and service.",
        "parameters": [
          {
            "description": "Organization ID",
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Cloud Partner",
            "name": "partner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "AWS",
                "AZURE",
                "GCP"
              ]
            }
          },
          {
            "description": "Partner Service",
            "name": "service",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "MARKETPLACE",
                "CRM"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Empty string if deletion is successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationDeleteResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "patch": {
        "tags": [
          "Integration"
        ],
        "summary": "update integration",
        "operationId": "Integration_update",
        "security": [
          {
            "BearerTokenAuth": [
            ]
          }
        ],
        "description": "Update the given integration.",
        "parameters": [
          {
            "description": "Organization ID",
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Cloud Partner",
            "name": "partner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "AWS",
                "AZURE",
                "GCP"
              ]
            }
          },
          {
            "description": "Partner Service",
            "name": "service",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "MARKETPLACE",
                "CRM"
              ]
            }
          }
        ],
        "requestBody": {
          "description": "Update Integration Params",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateIntegrationParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdentityIntegration"
                }
              }
            }
          },
          "400": {
            "description": "Bad request error description",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationUpdateResponse"
                }
              }
            }
          },
          "500": {
            "description": "internal error description",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationUpdate500Response"
                }
              }
            }
          }
        }
      }
    },
    "/org/{orgId}/integration/{partner}/{service}/verify": {
      "post": {
        "tags": [
          "Integration"
        ],
        "summary": "verify integration",
        "operationId": "Integration_verify",
        "security": [
          {
            "BearerTokenAuth": [
            ]
          }
        ],
        "description": "Verify the given integration, check whether it works correctly.",
        "parameters": [
          {
            "description": "Organization ID",
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Cloud Partner",
            "name": "partner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "AWS",
                "AZURE",
                "GCP"
              ]
            }
          },
          {
            "description": "Partner Service",
            "name": "service",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "MARKETPLACE",
                "CRM"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "whether it is verified or not",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationVerifyResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/org/{orgId}/offer": {
      "get": {
        "tags": [
          "Offer"
        ],
        "summary": "list offers by organization",
        "operationId": "Offer_listByOrganization",
        "security": [
          {
            "BearerTokenAuth": [
            ]
          }
        ],
        "description": "List all offers under the given organization.",
        "parameters": [
          {
            "description": "Organization ID",
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OfferListByOrganizationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request error description",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OfferListByOrganization400Response"
                }
              }
            }
          },
          "500": {
            "description": "internal error description",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OfferListByOrganization500Response"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Offer"
        ],
        "summary": "create offer",
        "operationId": "Offer_create",
        "security": [
          {
            "BearerTokenAuth": [
            ]
          }
        ],
        "description": "Create a private offer under the given organization.",
        "parameters": [
          {
            "description": "Organization ID",
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Offer to create",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkloadOffer"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkloadOffer"
                }
              }
            }
          },
          "400": {
            "description": "Bad request error description",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OfferCreateResponse"
                }
              }
            }
          },
          "500": {
            "description": "internal error description",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OfferCreate500Response"
                }
              }
            }
          }
        }
      }
    },
    "/org/{orgId}/offer/{offerId}": {
      "get": {
        "tags": [
          "Offer"
        ],
        "summary": "get offer",
        "operationId": "Offer_get",
        "security": [
          {
            "BearerTokenAuth": [
            ]
          }
        ],
        "description": "Get the offer by the given offer ID.",
        "parameters": [
          {
            "description": "Organization ID",
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Offer ID",
            "name": "offerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "the Offer Object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkloadOffer"
                }
              }
            }
          },
          "400": {
            "description": "Bad request error description",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OfferGetResponse"
                }
              }
            }
          },
          "500": {
            "description": "internal error description",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OfferGet500Response"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Offer"
        ],
        "summary": "delete offer",
        "operationId": "Offer_delete",
        "security": [
          {
            "BearerTokenAuth": [
            ]
          }
        ],
        "description": "Only the offer with status = \"DRAFT\" or \"CREATE_FAILED\" is allowed to be deleted.",
        "parameters": [
          {
            "description": "Organization ID",
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Offer ID",
            "name": "offerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Empty string if deletion is successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OfferDeleteResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request error description",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OfferDelete400Response"
                }
              }
            }
          },
          "500": {
            "description": "internal error description",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OfferDelete500Response"
                }
              }
            }
          }
        }
      }
    },
    "/org/{orgId}/offer/{offerId}/cancel": {
      "post": {
        "tags": [
          "Offer"
        ],
        "summary": "cancel offer",
        "operationId": "Offer_cancel",
        "security": [
          {
            "BearerTokenAuth": [
            ]
          }
        ],
        "description": "Only the offer with status = \"PENDING_ACCEPTANCE\" or \"PENDING_CANCEL\" is allowed to cancel.",
        "parameters": [
          {
            "description": "Organization ID",
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Offer ID",
            "name": "offerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Empty string if cancellation is successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OfferCancelResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request error description",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OfferCancel400Response"
                }
              }
            }
          },
          "500": {
            "description": "internal error description",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OfferCancel500Response"
                }
              }
            }
          }
        }
      }
    },
    "/org/{orgId}/offer/{offerId}/entitlement": {
      "get": {
        "tags": [
          "Entitlement"
        ],
        "summary": "list entitlements by offer",
        "operationId": "Entitlement_listByOffer",
        "security": [
          {
            "BearerTokenAuth": [
            ]
          }
        ],
        "description": "List all entitlements under the given offer",
        "parameters": [
          {
            "description": "Organization ID",
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Offer ID",
            "name": "offerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntitlementListByOfferResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntitlementListByOffer400Response"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntitlementListByOffer500Response"
                }
              }
            }
          }
        }
      }
    },
    "/org/{orgId}/offer/{offerId}/eula": {
      "get": {
        "tags": [
          "Offer"
        ],
        "summary": "get offer EULA",
        "operationId": "Offer_getEula",
        "security": [
          {
            "BearerTokenAuth": [
            ]
          }
        ],
        "description": "Get the EULA file of the given offer ID.",
        "parameters": [
          {
            "description": "Organization ID",
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Offer ID",
            "name": "offerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "AWS S3 signed URL with 10 minutes expiration time",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OfferGetEulaResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request error description",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OfferGetEula400Response"
                }
              }
            }
          },
          "500": {
            "description": "internal error description",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OfferGetEula500Response"
                }
              }
            }
          }
        }
      }
    },
    "/org/{orgId}/offer/{offerId}/metaInfo": {
      "patch": {
        "tags": [
          "Offer"
        ],
        "summary": "update offer meta info",
        "operationId": "Offer_updateMetaInfo",
        "security": [
          {
            "BearerTokenAuth": [
            ]
          }
        ],
        "description": "Update the meta info of the given offer.",
        "parameters": [
          {
            "description": "Organization ID",
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Offer ID",
            "name": "offerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Offer meta info to update",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkloadMetaInfo"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkloadMetaInfo"
                }
              }
            }
          },
          "400": {
            "description": "Bad request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OfferUpdateMetaInfoResponse"
                }
              }
            }
          },
          "500": {
            "description": "internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OfferUpdateMetaInfo500Response"
                }
              }
            }
          }
        }
      }
    },
    "/org/{orgId}/operation": {
      "get": {
        "tags": [
          "Operation"
        ],
        "summary": "list operations",
        "operationId": "Operation_list",
        "security": [
          {
            "BearerTokenAuth": [
            ]
          }
        ],
        "description": "List all long running operations under the given organization, offer, entitlement, crmOpportunity or partnerOpportunity. Only provide one filter on a request.",
        "parameters": [
          {
            "description": "Organization ID",
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "filter by offerId",
            "name": "offerId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "filter by entitlementId",
            "name": "entitlementId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "filter by crmOpportunityId",
            "name": "crmOpportunityId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "filter by partnerOpportunityId",
            "name": "partnerOpportunityId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationListResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/org/{orgId}/partner/{partner}/buyer": {
      "get": {
        "tags": [
          "Buyer"
        ],
        "summary": "list buyers by partner",
        "operationId": "Buyer_listByPartner",
        "security": [
          {
            "BearerTokenAuth": [
            ]
          }
        ],
        "description": "list all buyers by the given organization and partner",
        "parameters": [
          {
            "description": "Organization ID",
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Cloud Partner",
            "name": "partner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "AWS",
                "AZURE",
                "GCP"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BuyerListByPartnerResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BuyerListByPartner400Response"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BuyerListByPartner500Response"
                }
              }
            }
          }
        }
      }
    },
    "/org/{orgId}/partner/{partner}/entitlement": {
      "get": {
        "tags": [
          "Entitlement"
        ],
        "summary": "list entitlements by partner",
        "operationId": "Entitlement_listByPartner",
        "security": [
          {
            "BearerTokenAuth": [
            ]
          }
        ],
        "description": "List all entitlements under the given partner",
        "parameters": [
          {
            "description": "Organization ID",
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Cloud Partner",
            "name": "partner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "AWS",
                "AZURE",
                "GCP"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntitlementListByPartnerResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntitlementListByPartner400Response"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntitlementListByPartner500Response"
                }
              }
            }
          }
        }
      }
    },
    "/org/{orgId}/partner/{partner}/offer": {
      "get": {
        "tags": [
          "Offer"
        ],
        "summary": "list offers by partner",
        "operationId": "Offer_listByPartner",
        "security": [
          {
            "BearerTokenAuth": [
            ]
          }
        ],
        "description": "List all offers under the given organization & cloud partner.",
        "parameters": [
          {
            "description": "Organization ID",
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Cloud Partner",
            "name": "partner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "AWS",
                "AZURE",
                "GCP"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OfferListByPartnerResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request error description",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OfferListByPartner400Response"
                }
              }
            }
          },
          "500": {
            "description": "internal error description",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OfferListByPartner500Response"
                }
              }
            }
          }
        }
      }
    },
    "/org/{orgId}/partner/{partner}/product": {
      "get": {
        "tags": [
          "Product"
        ],
        "summary": "list products by partner",
        "operationId": "Product_listByPartner",
        "security": [
          {
            "BearerTokenAuth": [
            ]
          }
        ],
        "description": "list all products under the given organization and cloud partner",
        "parameters": [
          {
            "description": "Organization ID",
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Cloud Partner",
            "name": "partner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "AWS",
                "AZURE",
                "GCP"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductListByPartnerResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/org/{orgId}/partner/{partner}/revenueRecord": {
      "get": {
        "tags": [
          "Report"
        ],
        "summary": "list revenue records",
        "operationId": "Report_listRevenueRecords",
        "security": [
          {
            "BearerTokenAuth": [
            ]
          }
        ],
        "description": "list the revenue records for the given organization, product, entitlement, or buyer.",
        "parameters": [
          {
            "description": "Organization ID",
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Cloud Partner",
            "name": "partner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "AWS",
                "AZURE",
                "GCP"
              ]
            }
          },
          {
            "description": "Filter revenue record details by the given product ID",
            "name": "productId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter revenue record details by the given entitlement ID",
            "name": "entitlementId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter revenue record details by the given buyer ID",
            "name": "buyerId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "start date (UTC) in YYYY-MM-DD format, default is 30 days before the endDate",
            "name": "startDate",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "end date (UTC) in YYYY-MM-DD format, default is today",
            "name": "endDate",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "List pagination size, default 20, max value is 1000",
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "List pagination offset, default 0",
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListRevenueRecordsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportListRevenueRecordsResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportListRevenueRecords500Response"
                }
              }
            }
          }
        }
      }
    },
    "/org/{orgId}/partner/{partner}/revenueRecordDetail": {
      "get": {
        "tags": [
          "Report"
        ],
        "summary": "list revenue record details",
        "operationId": "Report_listRevenueRecordDetails",
        "security": [
          {
            "BearerTokenAuth": [
            ]
          }
        ],
        "description": "list the raw revenue record details for the given organization, product, entitlement, or buyer.",
        "parameters": [
          {
            "description": "Organization ID",
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Cloud Partner",
            "name": "partner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "AWS",
                "AZURE",
                "GCP"
              ]
            }
          },
          {
            "description": "Filter revenue record details by the given product ID",
            "name": "productId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter revenue record details by the given entitlement ID",
            "name": "entitlementId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter revenue record details by the given buyer ID",
            "name": "buyerId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "start date (UTC) in YYYY-MM-DD format, default is 30 days before the endDate",
            "name": "startDate",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "end date (UTC) in YYYY-MM-DD format, default is today",
            "name": "endDate",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "List pagination size, default 20, max value is 1000",
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "List pagination offset, default 0",
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListRevenueRecordDetailsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportListRevenueRecordDetailsResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportListRevenueRecordDetails500Response"
                }
              }
            }
          }
        }
      }
    },
    "/org/{orgId}/partner/{partner}/usageMeteringDailyRecord": {
      "get": {
        "tags": [
          "Report"
        ],
        "summary": "list usage metering daily records",
        "operationId": "Report_listUsageMeteringDailyRecords",
        "security": [
          {
            "BearerTokenAuth": [
            ]
          }
        ],
        "description": "list the daily records of the usage metering from the cloud marketplace for the given organization, product, entitlement, or buyer.",
        "parameters": [
          {
            "description": "Organization ID",
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Cloud Partner",
            "name": "partner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "AWS",
                "AZURE",
                "GCP"
              ]
            }
          },
          {
            "description": "Filter revenue record details by the given product ID",
            "name": "productId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter revenue record details by the given entitlement ID",
            "name": "entitlementId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter revenue record details by the given buyer ID",
            "name": "buyerId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "start date (UTC) in YYYY-MM-DD format, default is 30 days before the endDate",
            "name": "startDate",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "end date (UTC) in YYYY-MM-DD format, default is today",
            "name": "endDate",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "List pagination size, default 20, max value is 1000",
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "List pagination offset, default 0",
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListUsageMeteringDailyRecordsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportListUsageMeteringDailyRecordsResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportListUsageMeteringDailyRecords500Response"
                }
              }
            }
          }
        }
      }
    },
    "/org/{orgId}/partner/{partner}/usageMeteringDailyVerification": {
      "get": {
        "tags": [
          "Report"
        ],
        "summary": "list usage metering daily verifications",
        "operationId": "Report_listUsageMeteringDailyVerifications",
        "security": [
          {
            "BearerTokenAuth": [
            ]
          }
        ],
        "description": "list the daily verifications between the usage records reported to cloud marketplace & the usage metering from the cloud marketplace for the given organization, product, entitlement, or buyer.",
        "parameters": [
          {
            "description": "Organization ID",
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Cloud Partner",
            "name": "partner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "AWS",
                "AZURE",
                "GCP"
              ]
            }
          },
          {
            "description": "Filter usage metering daily verifications by the given product ID",
            "name": "productId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter usage metering daily verifications by the given entitlement ID",
            "name": "entitlementId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter usage metering daily verifications by the given buyer ID",
            "name": "buyerId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "start date (UTC) in YYYY-MM-DD format, default is 30 days before the endDate",
            "name": "startDate",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "end date (UTC) in YYYY-MM-DD format, default is today",
            "name": "endDate",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "List pagination size, default 20, max value is 1000",
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "List pagination offset, default 0",
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListUsageMeteringDailyVerificationsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportListUsageMeteringDailyVerificationsResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportListUsageMeteringDailyVerifications500Response"
                }
              }
            }
          }
        }
      }
    },
    "/org/{orgId}/product": {
      "get": {
        "tags": [
          "Product"
        ],
        "summary": "list products by organization",
        "operationId": "Product_listByOrganization",
        "security": [
          {
            "BearerTokenAuth": [
            ]
          }
        ],
        "description": "list all products under the given organization",
        "parameters": [
          {
            "description": "Organization ID",
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductListByOrganizationResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/org/{orgId}/product/{productId}": {
      "get": {
        "tags": [
          "Product"
        ],
        "summary": "get product",
        "operationId": "Product_get",
        "security": [
          {
            "BearerTokenAuth": [
            ]
          }
        ],
        "description": "get product by product id",
        "parameters": [
          {
            "description": "Organization ID",
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Product ID",
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkloadProduct"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "delete": {
        "tags": [
          "Product"
        ],
        "summary": "delete product",
        "operationId": "Product_delete",
        "security": [
          {
            "BearerTokenAuth": [
            ]
          }
        ],
        "description": "only the product with status = \"CREATE_FAILED\" is allowed to be deleted.",
        "parameters": [
          {
            "description": "Organization ID",
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Product ID",
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Empty string if deletion is successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductDeleteResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "patch": {
        "tags": [
          "Product"
        ],
        "summary": "update product",
        "operationId": "Product_update",
        "security": [
          {
            "BearerTokenAuth": [
            ]
          }
        ],
        "description": "currently only the Fulfillment URL is allowed to update via this API.",
        "parameters": [
          {
            "description": "Organization ID",
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Product ID",
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Update Product Params",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateProductParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkloadProduct"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/org/{orgId}/product/{productId}/dimension": {
      "get": {
        "tags": [
          "Product"
        ],
        "summary": "list metering dimensions of product",
        "operationId": "Product_listMeteringDimensions",
        "security": [
          {
            "BearerTokenAuth": [
            ]
          }
        ],
        "description": "list all metering dimensions of the given product",
        "parameters": [
          {
            "description": "Organization ID",
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Product ID",
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductListMeteringDimensionsResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/org/{orgId}/product/{productId}/entitlement": {
      "get": {
        "tags": [
          "Entitlement"
        ],
        "summary": "list entitlements by product",
        "operationId": "Entitlement_listByProduct",
        "security": [
          {
            "BearerTokenAuth": [
            ]
          }
        ],
        "description": "List all entitlements under the given product",
        "parameters": [
          {
            "description": "Organization ID",
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Product ID",
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntitlementListByProductResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntitlementListByProduct400Response"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntitlementListByProduct500Response"
                }
              }
            }
          }
        }
      }
    },
    "/org/{orgId}/product/{productId}/offer": {
      "get": {
        "tags": [
          "Offer"
        ],
        "summary": "list offers by product",
        "operationId": "Offer_listByProduct",
        "security": [
          {
            "BearerTokenAuth": [
            ]
          }
        ],
        "description": "List all offers under the given organization & product.",
        "parameters": [
          {
            "description": "Organization ID",
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Product ID",
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OfferListByProductResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request error description",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OfferListByProduct400Response"
                }
              }
            }
          },
          "500": {
            "description": "internal error description",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OfferListByProduct500Response"
                }
              }
            }
          }
        }
      }
    },
    "/org/{orgId}/revenueReport": {
      "post": {
        "tags": [
          "Report"
        ],
        "summary": "get revenue report",
        "operationId": "Report_getRevenueReport",
        "security": [
          {
            "BearerTokenAuth": [
            ]
          }
        ],
        "description": "Get the revenue report of the given organization, product, entitlement, or buyer.",
        "parameters": [
          {
            "description": "Organization ID",
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Get Revenue Report Params",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetRevenueReportParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RevenueReport"
                }
              }
            }
          },
          "400": {
            "description": "Bad request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportGetRevenueReportResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportGetRevenueReport500Response"
                }
              }
            }
          }
        }
      }
    },
    "/org/{orgId}/usageMeteringConfigInfo": {
      "get": {
        "tags": [
          "Metering"
        ],
        "summary": "get usage metering config info",
        "operationId": "Metering_getUsageConfigInfo",
        "description": "Get the usage metering config info of the given organization.",
        "parameters": [
          {
            "description": "Organization ID",
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Usage metering config info",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsageMeteringConfigInfo"
                }
              }
            }
          },
          "400": {
            "description": "Bad request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MeteringGetUsageConfigInfoResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MeteringGetUsageConfigInfo500Response"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Metering"
        ],
        "summary": "update usage metering config info",
        "operationId": "Metering_updateUsageConfigInfo",
        "description": "Update the usage metering config info of the given organization.",
        "parameters": [
          {
            "description": "Organization ID",
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The usage metering config info to be updated",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UsageMeteringConfigInfo"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Usage metering config info",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsageMeteringConfigInfo"
                }
              }
            }
          },
          "400": {
            "description": "Bad request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MeteringUpdateUsageConfigInfoResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MeteringUpdateUsageConfigInfo500Response"
                }
              }
            }
          }
        }
      }
    },
    "/org/{orgId}/usageRecordGroup": {
      "get": {
        "tags": [
          "Metering"
        ],
        "summary": "list usageRecordGroups",
        "operationId": "Metering_listUsageRecordGroups",
        "security": [
          {
            "BearerTokenAuth": [
            ]
          }
        ],
        "description": "List UsageRecordGroups by the given organization, partner, product, entitlement or buyer. Only provide one or none of the optional query parameters: partner, productId, entitlementId & buyerId .",
        "parameters": [
          {
            "description": "Organization ID",
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Cloud Partner",
            "name": "partner",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "AWS",
                "AZURE",
                "GCP"
              ]
            }
          },
          {
            "description": "product ID",
            "name": "productId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "entitlement ID",
            "name": "entitlementId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "buyer ID",
            "name": "buyerId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "start date (UTC) in YYYY-MM-DD format, default is 30 days before the endDate",
            "name": "startDate",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "end date (UTC) in YYYY-MM-DD format, default is today",
            "name": "endDate",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "List pagination size, default 20, max value is 1000",
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "List pagination offset, default 0",
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListUsageRecordGroupsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MeteringListUsageRecordGroupsResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MeteringListUsageRecordGroups500Response"
                }
              }
            }
          }
        }
      }
    },
    "/org/{orgId}/usageRecordGroup/{usageRecordGroupId}": {
      "get": {
        "tags": [
          "Metering"
        ],
        "summary": "get usageRecordGroup",
        "operationId": "Metering_getUsageRecordGroups",
        "security": [
          {
            "BearerTokenAuth": [
            ]
          }
        ],
        "description": "get UsageRecordGroup for the given organization and usageRecordGroup ID",
        "parameters": [
          {
            "description": "Organization ID",
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "UsageRecordGroup ID",
            "name": "usageRecordGroupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MeteringUsageRecordGroup"
                }
              }
            }
          },
          "400": {
            "description": "Bad request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MeteringGetUsageRecordGroupsResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MeteringGetUsageRecordGroups500Response"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Metering"
        ],
        "summary": "delete usageRecordGroup",
[...]
